{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block header %}
  <div class="jumbotron text-center">
    {% include 'blocks/drive_usage_modal.html' %}
    <p class="font-italic lead">Welcome <em class="text-danger font-weight-bold">{{ user }}</em></p>
    <p class="text-secondary font-italic lead">Feci, quod potui, faciant meliora potentes...</p>
  </div>
{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <div class="btn-group">
          <a class="btn btn-outline-primary btn-lg" href="{% url 'account:register' %}">Create user</a>
          <a class="btn btn-outline-success btn-lg" href="{% url 'employee:employee_basicdata' %}">Add/Change employee data</a>
          <a class="btn btn-outline-danger btn-lg" href="{% url 'evidence:working_time_recorder_add' employee_id %}">Work evidence</a>
          <a class="btn btn-outline-secondary btn-lg" href="/admin/">Admin</a>
          <a class="btn btn-outline-info btn-lg" href="{% url 'cashregister:cash_register' %}">Cash register</a>
          <a class="btn btn-outline-primary btn-lg" href="{% url 'accountancy:accountancy' %}">Accountancy</a>
          <a class="btn btn-outline-warning btn-lg" href="{% url 'account:serialize_database' %}">Serialize database</a>
{#        FUNCTIONS REMOVED!!!#}
{#          {% if upload %}#}
{#            <a class="btn btn-outline-secondary" href="{% url 'account:invoices_backup' %}">Archive Invoices</a>#}
{#          {% else %}#}
{#            <a class="btn btn-outline-secondary disabled" href="{% url 'account:invoices_backup' %}">Archive Invoices</a>#}
{#          {% endif %}#}
{#          {% if jpk %}#}
{#            <a class="btn btn-outline-primary" href="{% url 'account:send_jpk_files' %}">Send JPK Files</a>#}
{#          {% else %}#}
{#            <a class="btn btn-outline-primary disabled" href="{% url 'account:send_jpk_files' %}">Send JPK Files</a>#}
{#          {% endif %}#}
          <a class="btn btn-outline-dark btn-lg" href="{% url 'login' %}">Reset</a>
          {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-md btn-outline-success btn-lg">Logout</a>
          {% endif %}
          <a class="btn btn-outline-danger btn-lg" href="{% url 'account:exit' %}">Exit</a>
        </div>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col text-center">
        <a href="{% url 'account:quiz' %}"><img src="{% static 'images/mainboard/logoUNI.png' %}" alt="Logo Unikolor"></a>
        <p class="footer text-secondary"><small>Copyright UNIKOLOR Jerzy Wygonowski</small></p>
        <p>{% include 'blocks/start_message.html' %}</p>
      </div>
    </div>
  </div>

{% endblock %}
