{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Latin to Polish{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h2 class="text-primary font-weight-normal">Latin sentences</h2>
      <p class="font-italic lead">Welcome <em class="text-danger font-weight-bold">{{ user }}</em></p>
      <div class="btn-group mt-2 mb-3">
        <a class="btn btn-outline-danger" href="{% url 'account:exit' %}">Exit</a>
        <a class="btn btn-outline-dark" href="{% url 'login' %}">Reset</a>
        {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}" class="btn btn-md btn-outline-primary">Logout</a>
        {% endif %}
      </div>
      {% if set_of_questions %}
        <h3 class="text-dark">Query number: <em class="text-danger font-weight-bold">{{ set_of_questions }}</em>&nbsp;&nbsp;&nbsp;Your points: <em class="text-success font-weight-bold">{{ points }}</em>&nbsp;&nbsp;&nbsp;Percent of good answers: <em class="text-primary font-weight-bold">{{ percent|floatformat:2 }}%</em></h3>
      {% else %}
        <p class="text-secondary font-italic lead">Please select Next button to start the quiz...</p>
      {% endif %}
    </div>
    <div class="row">
      <div class="col text-center">
        {% if quiz_id %}
          <h3 class="text-success font-weight-normal">{{ query }}</h3>
          <form action="{% url 'account:quiz' quiz_id %}" method="POST">{% csrf_token %}
            {% for answer in answers %}
              <div class="form-check custom-control custom-radio offset-4 text-left font-weight-bold">
                <input type="radio" id="answer_{{ forloop.counter }}" name="your_answer" class="custom-control-input" value="{{ answer }}" required>
                <label class="custom-control-label text-primary" for="answer_{{ forloop.counter }}">{{ answer }}</label>
              </div>
            {% endfor %}
            <div class="btn btn-lg p-3">
              {% if query %}
                <button type="submit" class="btn btn-outline-success">Confirm</button>
              {% else %}
                <button type="submit" class="btn btn-outline-success" disabled>Confirm</button>
              {% endif %}
              <a class="btn btn-outline-primary" href="{% url 'account:quiz' quiz_id %}">Next query</a>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img src="{% static 'images/quiz/gotowork.png' %}" width="15%">
        <p class="footer text-secondary"><small>Copyright UNIKOLOR Jerzy Wygonowski</small></p>
      </div>
    </div>
  </div>
{% endblock %}
