{% extends 'base.html' %}
{% load static %}

{% block title %}Latin to Polish{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h2 class="text-primary font-weight-normal">Latin sentences</h2>
      <p class="font-italic lead">Welcome <em class="text-danger font-weight-bold">{{ user }}</em></p>
      <div class="btn btn-group btn-group-sm mb-2">
        <a class="btn btn-outline-danger" href="{% url 'account:exit' %}">Exit</a>
        {% include 'blocks/latina_auxilium_modal.html' %}
        <a href="{% url 'account:admin_site' %}" class="btn btn-outline-dark">Dashboard</a>
        <a class="btn btn-outline-info" href="{% url 'login' %}">Reset</a>
        {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}" class="btn btn-md btn-outline-primary">Logout</a>
        {% endif %}
      </div>
      {% if set_of_questions %}
        <h3 class="text-dark">Query number: <em class="text-danger font-weight-bold">{{ set_of_questions }}</em>&nbsp;&nbsp;&nbsp;Your points: <em class="text-success font-weight-bold">{{ points }}</em>&nbsp;&nbsp;&nbsp;Percent of good answers: <em class="text-primary font-weight-bold">{{ percent|floatformat:0 }}%</em>&nbsp;&nbsp;&nbsp;Your time: <em class="text-info font-weight-bold">{{ playtime }}</em></h3>
      {% else %}
        <p class="text-danger font-italic lead">Please select **Start the quiz** button...</p>
      {% endif %}
    </div>
    <div class="row">
      <div class="col text-center">
        {% if quiz_id %}
          <h3 class="text-success font-weight-normal">{{ query }}</h3>
          {% if query %}<p class="text-secondary small">Questions pool: {{ poll }}</p>{% endif %}
          <form action="{% url 'account:quiz' quiz_id %}" method="POST">{% csrf_token %}
            {% for answer in answers %}
              <div class="form-check custom-control custom-radio offset-4 text-left font-weight-bold">
                <input type="radio" id="answer_{{ forloop.counter }}" name="your_answer" class="custom-control-input" value="{{ answer }}" required>
                <label class="custom-control-label text-primary" for="answer_{{ forloop.counter }}">{{ answer }}</label>
              </div>
            {% endfor %}
            <div class="col-6 btn mt-2">
              {% if query %}
                <button type="submit" class="btn btn-success mr-5">Confirm the selection</button>
                <a class="btn btn-primary ml-5" href="{% url 'account:quiz' quiz_id %}">Next query...</a>
              {% else %}
                <button type="submit" class="btn btn-success mr-5" disabled>Confirm the selection</button>
                <a class="btn btn-primary ml-5" href="{% url 'account:quiz' quiz_id %}">Start the quiz</a>
              {% endif %}
            </div>
          </form>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col text-center mt-4">
        <a href="{% url 'account:exit' %}"><img src="{% static 'images/quiz/gotowork.png' %}" width="13%" alt="Exit"></a>
        <p class="footer text-secondary"><small>Copyright UNIKOLOR Jerzy Wygonowski</small></p>
      </div>
    </div>
  </div>

{% endblock %}
