{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Password change{% endblock %}

{% block content %}

  <div class="container">
    <div class="row p-4">
      <div class="col-sm-8 offset-sm-2 uk-bg-bisque">
        <div class="text-center mt-3">
          <p class="uk-text-large">PASSWORD CHANGE</p>
        </div>

        <form method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-3"></div>
              <div class="d-grid gap-2 col-6 mx-auto">
                {% if request.user.is_authenticated %}
                  <a class="uk-text-small fst-italic text-center">{{ user }} you are trying to change your password...</a>
                {% endif %}
                {% for field in form %}
                    {% bootstrap_field field label_class='uk-text-value fst-italic' %}
                {% endfor %}
              </div>
            <div class="col-3"></div>
          </div>
          <div class="text-center mt-3">
            <a href="{% url 'login' %}"><img class="mx-auto d-block w-25" src="{% static 'images/mainboard/logoUNI.png' %}" alt="logo unikolor"></a>
            <p class="uk-text-logo">&copy;Copyright UNIKOLOR Jerzy Wygonowski</p>
          </div>
          <div class="row my-4">
            <div class="col-6 mx-auto btn-group">
              <a href="{% url 'account:exit' %}" class="btn btn-outline-danger">Exit</a>
              <a href="{% url 'login' %}" class="btn btn-outline-dark">Back to Login</a>
            </div>

            <div class="col-6 mx-auto btn-group" role="group" aria-label="Basic example">
              <button type="submit" class="btn btn-outline-success">Password Change</button>
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>

{% endblock %}
