{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Password change{% endblock %}

{% block content %}

  <div class="container">
    <div class="row well p-4">
      <div class="col-sm-8 offset-sm-2 uk-bg-bisque">
        <div class="text-center mt-3">
          <p class="uk-text-large">PASSWORD CHANGE</p>
        </div>
        <form class="small" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              {% for field in form %}
                <div class="form-group">
                  {% bootstrap_field field size='small' label_class='text-info font-italic font-weight-bold' %}
                </div>
              {% endfor %}
            </div>
            <div class="col-2"></div>
          </div>
          <div class="text-center mt-3">
            <a href="{% url 'login' %}"><img src="{% static 'images/mainboard/logoUNI.png' %}" width="25%"></a>
            <p class="uk-text-logo">Copyright UNIKOLOR Jerzy Wygonowski</p>
              <div class="btn-group btn-sm p-3" >
              <a href="{% url 'account:exit' %}" class="btn btn-outline-danger">Exit</a>
              <a href="{% url 'login' %}" class="btn btn-outline-dark">Back to Login</a>
              <button type="submit" class="btn btn-outline-success">Password Change</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
