{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Create new user{% endblock %}


{% block content %}

  <div class="container">
    <div class="row p-4">
      <div class="col-sm-8 offset-sm-2 uk-bg-bisque">
        <div class="text-center mt-3">
          <p class="uk-text-large">CREATE USER FORM</p>
        </div>

        <form class="small" method="POST">{% csrf_token %}
          <div class="row">
            <div class="col-6">
              <div class="form-group text-light">
                {% bootstrap_field form.username size='large' %}
                {% bootstrap_field form.first_name size='large' %}
                {% bootstrap_field form.last_name size='large' %}
                {% bootstrap_field form.email size='large' %}
              </div>
              <div class="row footer text-secondary">
                <div class="col">
                  <p class="uk-text-logo">&copy;Copyright UNIKOLOR Jerzy Wygonowski</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group text-light">
                {% bootstrap_field form.password1 size='large' %}
                {% bootstrap_field form.password2 size='large' %}
                {% bootstrap_field form.is_staff size='large' %}
                {% bootstrap_field form.is_superuser size='large' %}
              </div>
            </div>
          </div>

          <div class="row text-center mb-2">
            <div class="col-6 mx-auto btn-group">
              <a href="{% url 'account:exit' %}" class="btn btn-outline-danger">Exit</a>
              <a href="{% url 'login' %}" class="btn btn-outline-dark">Back to Login</a>
            </div>
            <div class="col-6 mx-auto btn-group" role="group" aria-label="Basic example">
              <button type="submit" class="btn btn-outline-success">Register</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

{% endblock %}
