{% extends 'base.html' %}
{% load bootstrap4 %}
{% load utility_tags %}
{% load static %}

{% block title %}Accountancy - Select Customer{% endblock %}

{% block content %}

  <div class="container-fluid">
    {% include 'blocks/accountancy_headline.html' %}
    <div class="row ml-3 mr-3 mb-2 uk-bg-bisque">
      <div class="col-sm-4">
        <p class="text-center text-danger lead font-weight-normal bg-warning">COMPANIES</p>
          <table class="uk-table">
            <tbody>
            {% for company in companies %}
              <tr>
                {% if company_id == company.id %}
                  <td><a class="text-danger fw-bold" href="{{ company.create_doc }}">{{ company }}</a></td>
                {% else %}
                  <td><a href="{{ company.create_doc }}">{{ company }}</a></td>
                {% endif %}
              </tr>
            {% endfor %}

            </tbody>
          </table>
        <div class="row mt-2">
          <div class="col text-center">
            <div class="btn btn-sm btn-group">
              <a href="{% url 'account:exit' %}" class="btn btn-outline-danger">Exit</a>
              <a href="{% url 'cashregister:add_company' %}" class="btn btn-outline-info">Add/change
                  company</a>
              <a href="{% url 'account:dashboard' %}" class="btn btn-outline-dark">Back to the dashboard</a>
            </div>
          </div>
        </div>

        {% if company_id and customer_id %}
          <p class="text-center text-danger lead font-weight-normal bg-warning">EXISTING DOCUMENTS</p>
          <div class="input-group">
            <input class="form-control" id="myInput" type="text" placeholder="Znajdź dokument..." aria-label="Filtering table" aria-describedby="basic-addon">
            <div class="input-group-append">
              <span class="input-group-text fas fa-search" id="basic-addon"></span>
            </div>
          </div>
          <div class="uk-table-scroll-sm">
            <table class="table table-sm">
              <tbody class="small" id="searchTable">
              {% for document in documents %}
                <tr>
                  <td class="text-primary"><a href="{{ document.edit_document }}">{{ document }}</a></td>
                  <td>{{ document.created|date:'d-m-Y' }} ({{ document.created|day_since }})</td>
                  <td class="text-danger text-end">{{ document.get_total_brutto_absolute|money_format }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}

      </div>

      <div class="col-sm-8">
        {% if company_id %}
          <p class="text-center text-danger lead font-weight-normal bg-warning">SELECT CUSTOMER FOR CONTRACTOR <strong>{{ company }}</strong></p>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text fas fa-search" id="basic-addon"></span>
            </div>
            <input class="form-control" id="myInput" type="text" placeholder="Wyszukaj odbiorcę wpisując nazwę, nip, kod, miasto, ulicę lub adres e-mail... albo dodaj odbiorcę" aria-label="Filtering table" aria-describedby="basic-addon">
            <div class="input-group-append">
              <a href="{% url 'accountancy:add_customer' %}" class="btn btn-info">Add/change customer</a>
            </div>
          </div>
          <div class="uk-table-scroll-sm">
            <table class="table table-sm">
              <tbody class="small" id="searchTable">
                {% for customer in customers %}
                  <tr>
                    <td>{{ forloop.counter }}</td>

                    {% if customer_id == customer.id %}
                      <td><a class="text-danger fw-bold" href="{% url 'accountancy:accountancy' company_id customer.id %}">{{ customer }}</a></td>
                    {% else %}
                      <td><a href="{% url 'accountancy:accountancy' company_id customer.id %}">{{ customer }}</a></td>
                    {% endif %}

                    <td>{{ customer.nip }}</td>
                    <td>{{ customer.postal }}&nbsp;{{ customer.city }}</td>
                    <td>{{ customer.street }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.email }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          {% if company_id and customer_id %}
            <div class="row">
              <div class="col-4">
                <table class="table table-sm table-hover">
                  <tbody class="small text-info fw-light fst-italic">
                    <tr><th class="text-secondary fst-italic">Odbiorca:</th><th>{{ customer }}</th></tr>
                    <tr><th class="text-secondary fst-italic">Adres:</th><th>{{ customer.postal }}&nbsp;{{ customer.city }}</th></tr>
                    <tr><th class="text-secondary fst-italic">ul.</th><th>{{ customer.street }}</th></tr>
                    <tr><th class="text-secondary fst-italic">tel.:</th><th>{{ customer.phone }}</th></tr>
                    <tr><th class="text-secondary fst-italic">email:</th><th>{{ customer.email }}</th></tr>
                  </tbody>
                </table>
              </div>
              <div class="col-8">
                <form action="." method="POST">{% csrf_token %}
                  {% bootstrap_field form.company %}{% bootstrap_field form.customer %}
                  <div class="row">
                    <div class="col-4">
                      {% bootstrap_field form.number size='small' label_class='text-primary fw-bold fst-italic small' %}
                    </div>
                    <div class="col-4">
                      {% bootstrap_field form.conveyance size='small' label_class='text-primary fw-bold fst-italic small' %}
                    </div>
                    <div class="col-4">
                      {% bootstrap_field form.waybill size='small' label_class='text-primary fw-bold fst-italic small' %}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      {% bootstrap_field form.date_of_shipment size='small' label_class='text-primary fw-bold fst-italic small' %}
                    </div>
                    <div class="col-4">
                      {% bootstrap_field form.invoice size='small' label_class='text-primary fw-bold fst-italic small' %}
                    </div>
                    <div class="col-4">
                      {% bootstrap_field form.order size='small' label_class='text-primary fw-bold fst-italic small' %}
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-12 mt-3">
                      <button type="submit" class="btn btn-block btn-outline-success">Add product to customer {{ customer|upper }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          {% endif %}
        {% else %}
          <p class="text-center text-danger lead font-weight-normal bg-warning">ADD RECORD FOR {{ company }}</p>
          <div class="row">
            <div class="col text-center">
              <p class="text-danger lead fw-bold fst-italic">Please select company to create accountancy document...</p>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
