{% extends 'base.html' %}
{% load bootstrap4 %}
{% load utility_tags %}

{% block title %}Add account payment{% endblock %}

{% block content %}

<div class="container uk-bg-bisque">
  {% include 'blocks/header.html' %}
  <div class="row">
    <div class="col-4">
      <div class="uk-headline">
        <a href="{% url 'employee:employee_basicdata' %}">PRESENT EMPLOYEES</a>
      </div>
      <div class="uk-table-scroll-lg">
        <table class="uk-table">
          <tbody>
          {% for employee in employees %}
            <tr>
              {% if employee_id == employee.id %}
                <td class="text-end" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="fw-bold text-danger" href="{{ employee.account_payment_employee_id }}">{{ employee }}</a></td>
              {% else %}
                <td class="text-end" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="fw-bold" href="{{ employee.account_payment_employee_id }}">{{ employee }}</a></td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-8">
      {% if worker.status %}
        <div class="uk-headline">
          ADVANCE FOR:<span class="uk-text-value"> {{ worker|upper }}</span>
        </div>

        <form action="{% url 'evidence:account_payment' employee_id %}" method="POST">{% csrf_token %}
          <div class="row">
            <div class="col-6">
              {% bootstrap_field form.worker size='medium' %}
              {% bootstrap_field form.account_date size='medium' label_class='text-info fw-bold' %}
            </div>
            <div class="col-6">
              {% bootstrap_field form.account_value size='medium' label_class='text-info fw-bold' placeholder='The account should be min. 10 PLN' %}
            </div>
          </div>
          {% bootstrap_field form.notice size='medium' label_class='text-info fw-bold' placeholder='Please indicate the circumstances of the down payment...' %}
          <div class="col">
            <div class="d-grid mx-auto my-3">
              <button type="submit" class="btn btn-lg btn-outline-success" {% if request.method == 'POST' and salary >= advances %}disabled{% endif %}>Confirm the down payment</button>
            </div>
          </div>
        </form>

        {% if request.method == 'POST' %}
          {% if salary >= advances %}
            <p class="text-center uk-text-middle">Granted an advance payment of: <span class="text-danger">{{ account_value|money_format }}</span></p>
            <div class="d-grid mx-auto">
              <a href="{% url 'evidence:account_recorder_erase' employee_id account_date account_value %}" class="btn btn-sm btn-danger"><span class="fw-bold blink">Erase the down payment ({{ account_value|money_format }})</span></a>
            </div>
          {% else %}
              <p class="text-center uk-text-middle">The sum of advances <span class="text-danger">{{ advances|money_format }}</span> is greater than the income earned so far <span class="text-danger">{{ salary|money_format }}</span>. The advance can't be paid!</p>
          {% endif %}
        {% else %}
          <div class="container">
            <div class="uk-evidence-box">
              <div class="row">
                <div class="col uk-evidence-headline d-flex justify-content-center">
                  <div>TOTAL ADVANCE INFO FOR:</div>
                  <div>&nbsp;&nbsp;</div>
                  <div class="text-dark">{{ worker }}</div>
                </div>
              </div>
            </div>
            <div class="uk-evidence-data-box">
              <div class="row text-info fw-bold">
                <div class="col-3">
                  <div>Preiod:</div>
                </div>
                <div class="col-4">
                  <a class="text-info" {% if prevloan %}href="{% url 'evidence:advances_print' employee_id earlier_date.month earlier_date.year %}"{% endif %}>{{ earlier_date|date:'F Y' }}</a>
                </div>
                <div class="col-4">
                  <a class="text-info" {% if currloan %}href="{% url 'evidence:advances_print' employee_id month year %}"{% endif %}>{% now 'F Y' %}</a>
                </div>
                <div class="col-1"></div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div>Total advance:</div>
                </div>
                <div class="col-4">
                  <div class="text-danger">{{ prevloan|money_format }}</div>
                </div>
                <div class="col-4">
                  <div class="text-danger">{{ currloan|money_format }}</div>
                </div>
                <div class="col-1"></div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div>Brutto income:</div>
                </div>
                <div class="col-4">
                  <div class="text-danger">{{ prevsalary|money_format }}</div>
                </div>
                <div class="col-4">
                  <div class="text-danger">{{ salary|money_format }}</div>
                </div>
                <div class="col-1"></div>
              </div>
            </div>
            <div class="uk-evidence-box">
              <div class="row uk-evidence-headline">
                <div class="col-4 text-dark">Left to paid out:</div>
                <div class="col-4">{{ prevsaldo|money_format }}</div>
                <div class="col-4">{{ saldo|money_format }}</div>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="col">
          <div class="d-grid mx-auto my-3">
            <a href="{% url 'account:dashboard' %}" class="btn btn-lg btn-outline-dark">Back to the dashboard</a>
          </div>
        </div>
      {% else %}
        <p class="text-center text-danger lead font-weight-normal bg-warning"><a class="text-danger" href="{% url 'employee:employee_basicdata' employee_id %}">EMPLOYEE IS DEACTIVATED</a></p>
          <div class="row text-center">
            <div class="col-1"></div>
            <div class="col-9 btn-sm mb-2">
              <p class="uk-text-middle">You can't add any advances for <span class="text-danger">{{ worker }}</span> because the employee is no longer employed or deactivated.</p>
              <a href="{% url 'employee:employee_basicdata' employee_id %}" class="btn btn-outline-info btn-block blink">Activate Employee</a>
            </div>
            <div class="col-1"></div>
          </div>
      {% endif %}
    </div>
  </div>
</div>

  <!-- blinkin after hideTime: seconds-->
  <script>
    $('.blink').each(function() {
      var elem = $(this);
      // count the blinks
      var count = 1;
      var intervalId = setInterval(function() {
      if (elem.css('visibility') == 'hidden') {
        elem.css('visibility', 'visible');
        // increment counter when showing to count # of blinks and stop when visible
        if (count++ === 3) {
          clearInterval(intervalId);
          }
      } else {
        elem.css('visibility', 'hidden');
        }
      }, 200);
    });
</script>

{% endblock%}
