{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load utility_tags %}

{% block title %}Current data of employee{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row mx-3 mt-2 uk-bg-bisque">
      <div class="col-3 mt-2">
        <a href="{% url 'account:dashboard' %}">
          <img class="d-block uk-header-logo mx-auto" src="{% static 'images/mainboard/logoUNI.png' %}" alt="Logo Unikolor">
          <span class="d-block uk-text-logo">&copy;Copyright<br>UNIKOLOR Jerzy Wygonowski</span>
        </a>
      </div>
      <div class="col-9 text-center">
        <div class="uk-header-title">
          <p class="uk-text-large">Complex Evidence Data For Employee</p>
        </div>
{#        <p class="uk-text-middle">Application to handle employee working time in small business</p>#}
        <div class="container">
          {% include 'blocks/small_upper_buttons.html' %}
        </div>
      </div>
    </div>
    <div class="row mx-3 uk-bg-bisque">
      <div class="col-3">
        <div class="uk-headline">
          <a href="{% url 'employee:employee_basicdata' %}">EMPLOYED WORKERS</a>
        </div>
        <div class="uk-table-scroll-lg">
          <table class="uk-table">
            <tbody>
            {% for employee in employees %}
              <tr>
                {% if employee_id == employee.id %}
                  <td class="text-right" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="font-weight-bold text-danger" href="{% employee_complex_data_pass employee.employee_complex_data month year %}">{{ employee }}</a></td>
                {% else %}
                  <td class="text-right" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="font-weight-bold" href="{% employee_complex_data_pass employee.employee_complex_data month year %}">{{ employee }}</a></td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-6">
        <div class="uk-headline">
          CURRENT DATA:<span class="uk-text-value"> {{ worker|upper }}</span>
        </div>

        <form action="{% url 'evidence:employee_complex_data' employee_id %}" method="POST">{% csrf_token %}
          <div class="row">
            <div class="col-8 mt-3">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-info">Select date</div>
                </div>
                {% bootstrap_field form.choice_date form_group_class='form-inline' show_label=False %}
                <div class="input-group-append">
                  <button type="submit" class="btn btn-outline-success">Confirm</button>
                </div>
              </div>
            </div>
            <div class="col-4 mt-3">
              <div class="btn-sm" role="group">
                <button id="btnGroupDropHolidays" type="button" class="btn btn-outline-danger btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Holidays in {{ choice_date|date:'Y' }} year </button>
                <div class="dropdown-menu uk-text-holiday" aria-labelledby="btnGroupDropHolidays">
                  {% for key, value in holidays.items %}
                    <hr class="small">
                    <div class="d-flex justify-content-between"><div class="col-6">{{ key }}:</div><div class="col-6 uk-text-value">{{ value|date:'d-m-Y (D)' }}</div></div>
                  {% endfor %}
                  <hr class="small">
                </div>
              </div>
            </div>
          </div>
        </form>

        {% if not worker.employeedata_set.end_contract or worker.employeedata_set.end_contract.year >= year and worker.employeedata_set.end_contract.month >= month %}
          {% if rate %}
            <div class="container">
              <div class="uk-evidence-box">
                <div class="row">
                  <div class="col uk-evidence-headline d-flex justify-content-center">
                    <div>&nbsp;</div>
                    <div class="text-dark">Leave of absence days by type in</div>
                    <div>&nbsp;</div>
                    <div>{{ choice_date|date:'Y' }} YEAR</div>
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="uk-evidence-data-box d-flex justify-content-between">
                  {% for key,value in month_leaves.items %}
                    <div class="text-dark">
                      {{ key|capfirst }}:<span class="text-danger"> {{ value|floatformat:0 }} day{{ value|pluralize:'s' }}</span>
                    </div>
                {% endfor %}
                </div>

                <div class="row uk-leavetxt">
                  <div class="col-4">
                    {% for d in sml %}
                      {% if d.leave_flag == 'unpaid_leave' %}
                        {{ d.leave_date|date:'j/m,' }}
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="col-4">
                    {% for d in sml %}
                      {% if d.leave_flag == 'paid_leave' %}
                        {{ d.leave_date|date:'j/m,' }}
                      {% endif %}
                    {% endfor %}
                  </div>
                  <div class="col-4">
                    {% for d in sml %}
                      {% if d.leave_flag == 'maternity_leave' %}
                        {{ d.leave_date|date:'j/m,' }}
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="uk-evidence-box">
                <div class="row">
                  <div class="col uk-evidence-headline d-flex justify-content-center">
                    <div>&nbsp;</div>
                    <div class="text-dark">All leave of absence days in</div>
                    <div>&nbsp;</div>
                    <div>{{ choice_date|date:'Y' }} YEAR</div>
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="uk-evidence-data-box d-flex justify-content-between">
                  {% for key,value in year_leaves.items %}
                    <div class="text-dark">
                      {{ key|capfirst }}:<span class="text-danger"> {{ value|floatformat:0 }} day{{ value|pluralize:'s' }}</span>
                    </div>
                {% endfor %}
                </div>
              </div>
            </div>

            <div class="container">
              <div class="uk-evidence-box">
                <div class="row">
                  <div class="col uk-evidence-headline d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <div class="text-dark">Total payment data for</div>
                    <div>{{ choice_date|date:'F Y' }} YEAR</div>
                    <div class="text-dark">Rate:</div>
                    <div>{{ rate|floatformat:2 }} PLN/h</div>
                    <div>&nbsp;</div>
                  </div>
                </div>
                <div class="uk-evidence-data-box d-flex justify-content-between">
                  <div class="text-dark">
                      Total work hours:<br>
                      Basic payment (100%):<br>
                      Saturday payment (100%):<br>
                      Overhours (50%):
                  </div>
                  <div class="text-danger">
{#                      {{ total_hours|floatformat:2 }} hour{{ total_hours|pluralize:'s' }}<br>#}
                      <a data-toggle="tooltip" data-html="true" title='<p class="text-justify">The total number of working hours is the sum of all hours worked in a given month, including Saturdays, Sundays and holidays but without days marked as paid vacation.</p>'>{{ total_hours|floatformat:2 }} hour{{ total_hours|pluralize:'s' }}</a><br>
                      {{ basicpay|money_format }}<br>
                      {{ satpay|money_format }}<br>
                      {{ overhourspay|money_format }}
                  </div>
                  <div class="text-dark">
                      Netto income:<br>
                      Leave payment (100%):<br>
                      Sunday payment (200%):<br>
                      Account payment:
                  </div>
                  <div class="text-danger">
{#                      {{ salary|money_format }}<br>#}
                      <a data-toggle="tooltip" data-html="true" title='<p class="text-justify">Netto income results from the difference between gross income and the sum of advances granted.</p>'>{{ salary|money_format }}</a><br>
                      {{ leavepay|money_format }}<br>
                      {{ sunpay|money_format }}<br>
                      {{ accountpay|money_format }}
                  </div>
                </div>

                <div class="row">
                  <div class="col uk-evidence-headline d-flex justify-content-center">
                    <div class="text-dark">BRUTTO INCOME:</div>
                    <div>&nbsp;</div>
                    <div>{{ brutto|money_format }}</div>
                  </div>
                </div>
              </div>
            </div>

          {% else %}
            <p class="text-center lead font-weight-normal">No data is available!</p>
          {% endif %}

        {% else %}
          <p class="text-center text-primary lead font-weight-normal">No data for {{ worker }} available because the employee is no longer employed.</p>
        {% endif %}
        <div class="row">
          <div class="col btn btn-group" role="group">
            <a href="{% url 'account:exit' %}" class="btn btn-outline-danger">Exit</a>
            {% include 'blocks/plot_chart_modal.html' %}
            <a href="{% url 'account:dashboard' %}" class="btn btn-outline-dark">Back to the Administration Dashboard</a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="uk-headline">
          <a href="{% url 'evidence:workhours_print' employee_id month year %}">WORKING DAYS FOR:<span class="uk-text-value"> {{ choice_date|date:'m/Y' }}</span></a>
        </div>
        {% if work_hours %}
          <div class="row text-primary font-weight-bold font-italic mt-2">
            <div class="col p-1 d-flex justify-content-around">
              <div>Work day{{ work_hours|length|pluralize:'s' }}: {{ work_hours|length }}</div>
              <div>Work hour{{ total_hours|pluralize:'s' }}: {{ total_hours|floatformat:2 }}</div>
            </div>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text fas fa-search" id="basic-addon"></span>
            </div>
            <input class="form-control" id="myInput" type="text" placeholder="Search..." aria-label="Filtering table" aria-describedby="basic-addon">
            <div class="input-group-append">
              <a class="btn btn-outline-light" href="/admin/">Admin</a>
            </div>
          </div>
          <div class="uk-table-scroll-md">
            <table class="uk-table">
              <thead>
                <tr class="text-dark text-center">
                  <th>Nr</th>
                  <th>Data</th>
                  <th class="text-right">Start</th>
                  <th>End</th>
                  <th>Hours</th>
                </tr>
              </thead>
              <tbody>
              {% for hours in work_hours %}
                <tr>
                  <td class="text-right text-secondary">{{ forloop.counter }}.</td>
                  {% if hours.start_work|date:'w' == '0' %}
                    <td class="text-right text-danger">{{ hours.start_work|date:'d l' }}</td>
                  {% elif hours.start_work|date:'w' == '6' %}
                    <td class="text-right text-primary">{{ hours.start_work|date:'d l' }}</td>
                  {% else %}
                    <td class="text-right">{{ hours.start_work|date:'d l' }}</td>
                  {% endif %}
                  <td class="text-success">{{ hours.start_work|time:'H:i' }}</td>
                  <td class="text-success">{{ hours.end_work|time:'H:i' }}</td>
                  <td class="text-right text-info font-weight-bold">{{ hours.jobhours|floatformat:2 }}</td>
                </tr>
              {% endfor %}
              </tbody>

            </table>
          </div>
        {% else %}
          <p class="text-justify text-danger font-weight-bold font-italic">For selected date <mark>{{ choice_date|date:'m/Y' }}</mark> there aren't register working days in database. Please select another date...</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
