{% extends 'base.html' %}
{% load bootstrap4 %}
{% load utility_tags %}

{% block title %}Add leave time{% endblock %}

{% block head %}
    {% include 'blocks/header.html' %}
{% endblock %}

{% block content %}

  <div class="container uk-bg-bisque">
    {% include 'blocks/header.html' %}
    <div class="row">
      <div class="col-3">
        <div class="uk-headline">
          <a href="{% url 'employee:employee_basicdata' %}">PRESENT EMPLOYEES</a>
        </div>
        <div class="uk-table-scroll-lg">
          <table class="uk-table">
            <tbody>
            {% for employee in employees %}
              <tr>
                {% if employee_id == employee.id %}
                  <td class="text-end" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="fw-bold text-danger" href="{{ employee.leave_employee_id }}">{{ employee }}</a></td>
                {% else %}
                  <td class="text-end" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="fw-bold" href="{{ employee.leave_employee_id }}">{{ employee }}</a></td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-9">
        {% if worker.status %}
          <div class="uk-headline">
            LEAVE EVIDENCE FOR:<span class="uk-text-value"> {{ worker|upper }}</span>
          </div>

          <form action="{% url 'evidence:leave_time_recorder_add' employee_id %}" method="POST">{% csrf_token %}
            <div class="row text-center">
              <div class="col-1"></div>
              <div class="d-grid col-4 mx-auto mt-3">
                <p class="text-light fst-italic lead">Select a date of leave...</p>
                {% bootstrap_field form.worker %}
                {% bootstrap_field form.leave_date size='small' show_label=False %}
              </div>

              <div class="d-grid col-6 mx-auto mt-3">
                <p class="text-light fst-italic lead">Select a kind of leave...</p>
                {% bootstrap_field form.leave_flag show_label=False %}


{#                <div class="btn-group">#}
{#                  <!-- radiobutton unpaid leave -->#}
{#                  <input type="radio" class="btn-check" name="leave_flag" id="unpaid_leave" autocomplete="off" value="unpaid_leave"{% if worker.leave == 0 %} checked{% endif %}>#}
{#                  <label class="btn btn-outline-light" for="unpaid_leave">Unpaid leave</label>#}
{#                <!-- radiobutton paid leave -->#}
{#                  <input type="radio" class="btn-check" name="leave_flag" id="paid_leave" autocomplete="off" value="paid_leave"{% if worker.leave == 1 %} checked{% endif %}>#}
{#                  <label class="btn btn-outline-light" for="paid_leave">Paid leave</label>#}
{#                <!-- radiobutton maternity leave -->#}
{#                  <input type="radio" class="btn-check" name="leave_flag" id="maternity_leave" autocomplete="off" value="maternity_leave">#}
{#                  <label class="btn btn-outline-light" for="maternity_leave">Maternity leave</label>#}
{#                </div>#}
{#              </div>#}

              <div class="col-1"></div>
            </div>
            <div class="row">
              <div class="d-grid col-10 mx-auto mt-3">
                <button type="submit" class="btn btn-lg btn-outline-success btn-block">Confirm the leave day you entered</button>
              </div>
            </div>
          </form>

          {% if flag_leave %}
            <p class="uk-text-middle text-center">Selected date: <span class="text-danger">{{ leave_date|date:'l, d F Y' }}</span> exist on datebase as leave day! </p>
          {% elif flag_work %}
            <p class="uk-text-middle text-center">Selected date: <span class="text-danger">{{ leave_date|date:'l, d F Y' }}</span> exist on datebase as work day!</p>
          {% elif name_holiday %}
            <p class="uk-text-middle text-center">Selected date: <span class="text-danger">{{ leave_date|date:'l, d F Y' }}</span> is a holiday <span class="text-danger">({{ name_holiday }})</span></p>
          {% elif flag_weekend %}
            <p class="uk-text-middle text-center">You can't add a leave on this day: <span class="text-danger">{{ leave_date|date:'l, d F Y' }}</span></p>
          {% else %}
            {% if leave_flag == 'unpaid_leave' %}
              <p class="uk-text-middle text-center">CAUTION: You've been adding <span class="text-danger">({{ leave_date|date:'l, d F Y' }})</span> one day of unpaid leave!</p>
              <div class="d-grid col-10 mx-auto mt-3">
                <a href="{% url 'evidence:leave_time_recorder_erase' employee_id leave_date %}" class="btn btn-danger btn-block"><span class="fw-bold blink">Erase the unpaid leave day you entered</span></a>
              </div>
            {% elif leave_flag == 'paid_leave' %}
              <p class="uk-text-middle text-center">CAUTION: You've been adding <span class="text-danger">{{ leave_date|date:'l, d F Y' }}</span> one day of paid leave!</p>
              <div class="d-grid col-10 mx-auto mt-3">
                <a href="{% url 'evidence:leave_time_recorder_erase' employee_id leave_date %}" class="btn btn-danger btn-block"><span class="fw-bold blink">Erase the paid leave day you entered</span></a>
              </div>
            {% elif leave_flag == 'maternity_leave' %}
              <p class="uk-text-middle text-center">CAUTION: You've been adding <span class="text-danger">({{ leave_date|date:'l, d F Y' }})</span> one day of maternity leave!</p>
              <div class="d-grid col-10 mx-auto mt-3">
                <a href="{% url 'evidence:leave_time_recorder_erase' employee_id leave_date %}" class="btn btn-danger btn-block"><span class="fw-bold blink">Erase the materinty leave day you entered</span></a>
              </div>
            {% endif %}
          {% endif %}

          <div class="container">
            <div class="uk-evidence-box">
              <div class="row">
                <div class="col uk-evidence-headline mt-3">
                  <a class="text-white" href="{% url 'evidence:leaves_data_print' employee_id %}">TOTAL LEAVES INFO FOR <span class="text-white">{{ worker }}</span> IN {% now 'Y' %} YEAR</a>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-4">
                <p class="text-end text-uppercase">Total leave in {% now 'Y' %} year:</p>
              </div>
              <div class="col-2">
                <p class="text-danger fw-bold">{{ total_leaves|floatformat:0 }} day{{ total_leaves|pluralize:'s' }}</p>
              </div>
              <div class="col-4">
                <p class="text-end text-uppercase">
                  {% if remaining_leave < 0 %}
                    Days of leave exceeded by:
                  {% elif remaining_leave <= 26 and worker.leave %}
                    Remaining leave:
                  {% endif %}
                </p>
              </div>
              <div class="col-2">
                {% if worker.leave %}
                  <p class="text-danger fw-bold">{{ remaining_leave|floatformat:0 }} day{{ total_leaves|pluralize:'s' }}</p>
                {% endif %}
              </div>
            </div>
            <div class="row">
              {% if leaves_pl %}
                <div class="col-4">
                  <p class="text-end text-uppercase">Date of paid leave:</p>
                </div>
                <div class="col-8">
                  <p class="text-danger fst-italic text-justify">{% for date in leaves_pl %}{{ date.leave_date|date:'d/m' }}, {% endfor %}</p>
                </div>
              {% endif %}
              {% if leaves_ml %}
                <div class="col-4">
                  <p class="text-end text-uppercase">Date of maternity leave:</p>
                </div>
                <div class="col-8">
                  <p class="text-danger fst-italic text-justify">{% for date in leaves_ml %}{{ date.leave_date|date:'d/m' }}, {% endfor %}</p>
                </div>
              {% endif %}
              {% if leaves_upl %}
                <div class="col-4">
                  <p class="text-end text-uppercase">Date of unpaid leave:</p>
                </div>
                <div class="col-8">
                  <p class="text-danger fst-italic text-justify">{% for date in leaves_upl %}{{ date.leave_date|date:'d/m' }}, {% endfor %}</p>
                </div>
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="col-12 text-center">
              <hr>
              <div class="d-grid mx-auto">
                <div class=" btn-group">
                    <a href="{% url 'account:exit' %}" class="btn btn-outline-danger">Exit</a>
                    <a href="{% url 'account:dashboard' %}" class="btn btn-outline-dark">Dashboard</a>
                    {% include 'blocks/leave_print_modal.html' %}
                    {% if total_leaves > 0 %}
                      <a href="{% url 'evidence:leaves_data_pdf' employee_id %}" class="btn btn-outline-info">Send current employee leave set</a>
                    {% endif %}
                    <a class="btn btn-outline-light" href="/admin/">Admin Data Base</a>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <p class="text-center text-danger lead font-weight-normal bg-warning"><a class="text-danger" href="{% url 'employee:employee_basicdata' employee_id %}">EMPLOYEE IS DEACTIVATED</a></p>
          <div class="row text-center">
            <div class="col-9 offset-1 btn-sm mb-2">
              <p class="uk-text-middle">You can't add any leave day for <span class="text-danger">{{ worker }}</span> because the employee is no longer employed or deactivated.</p>
              <a href="{% url 'employee:employee_basicdata' employee_id %}" class="btn btn-outline-info btn-block blink">Activate Employee</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- blinkin after hideTime: seconds-->
  <script>
    $('.blink').each(function() {
      var elem = $(this);
      // count the blinks
      var count = 1;
      var intervalId = setInterval(function() {
      if (elem.css('visibility') == 'hidden') {
        elem.css('visibility', 'visible');
        // increment counter when showing to count # of blinks and stop when visible
        if (count++ === 3) {
          clearInterval(intervalId);
          }
        } else {
          elem.css('visibility', 'hidden');
          }
        }, 200);
      });
  </script>

{% endblock %}
