{% extends 'base.html' %}
{% load utility_tags %}

{% block title %}Payroll for {{ month }}/{{ year }}{% endblock %}

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <p class="text-primary lead text-center fw-bold bg-warning">Lista płac za miesiąc: {{ month }}/{{ year }}r.  Ilość godzin: {{ total_work_hours }}. Wypłaty razem: {{ amountpay.brutto|money_format }}</p>

        <table class="table table-bordered table-striped fw-light">
          <thead class="text-center bg-info text-white">
          <tr>
            {% for head in heads %}<th>{{ head }}</th>{% endfor %}
          </tr>
          </thead>
          <tbody>
          {% for name, data in payroll.items %}
            <tr class="text-end text-dark">
              <td class="text-start fst-italic">{{ name }}</td>
              <td>{{ data.brutto|money_format }}</td>
              <td>{{ data.basicpay|money_format }}</td>
              <td>{{ data.leavepay|money_format }}</td>
              <td>{{ data.overhourspay|money_format }}</td>
              <td>{{ data.satpay|money_format }}</td>
              <td>{{ data.sunpay|money_format }}</td>
              <td>{{ data.accountpay|money_format }}</td>
              <td>{{ data.salary|money_format }}</td>
            </tr>
          {% endfor %}
          <tr><td class="text-success text-end fw-bold fst-italic">TOTAL:</td>
          {% for value in amountpay.values %}
            <td class="text-success text-end fst-italic fw-bold">{{ value|money_format }}</td>
          {% endfor %}
          </tr>
          </tbody>
        </table>
        <div class="col-4">
          <p class="uk-text-logo text-start">Data wydruku: {% now "l, jS F Y H:i" %}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
