{% extends 'base.html' %}
{% load bootstrap4 %}
{% load utility_tags %}

{% block title %}Add working time{% endblock %}


{% block content %}

<div class="container uk-bg-bisque">
  {% include 'blocks/header.html' %}
  <div class="row">
    <div class="col-3">
      <p class="uk-headline"><a class="text-danger" href="{% url 'employee:employee_basicdata' %}">PRESENT EMPLOYEES</a></p>
      <table class="table table-hover table-borderless table-sm">
        <tbody>
        {% for employee in employees %}
          <tr>
            {% if employee_id == employee.id %}
              <td class="text-right" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="font-weight-bold text-danger" href="{{ employee.work_employee_id }}">{{ employee }}</a></td>
            {% else %}
              <td class="text-right" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="font-weight-bold" href="{{ employee.work_employee_id }}">{{ employee }}</a></td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-9">
      {% if worker.status %}
        <p class="uk-headline">WORK EVIDENCE FOR: {{ worker|upper }}</p>
        <div class="row">
          <div class="col-3 text-center">
            <div class="btn btn-group-sm btn-group-vertical" role="group">
              <a href="{% url 'evidence:working_time_recorder_add' employee_id %}" class="btn btn-sm btn-outline-light font-weight-bold">Insert hours</a>
              <a href="{% url 'evidence:working_time_recorder_add' employee_id 12 %}" class="btn btn-sm btn-outline-info font-weight-bold">6:00-12:00</a>
              <a href="{% url 'evidence:working_time_recorder_add' employee_id 14 %}" class="btn btn-sm btn-outline-success font-weight-bold">6:00-14:00</a>
              <a href="{% url 'evidence:working_time_recorder_add' employee_id 16 %}" class="btn btn-sm btn-outline-primary font-weight-bold">6:00-16:00</a>
              <a href="{% url 'evidence:working_time_recorder_add' employee_id 18 %}" class="btn btn-sm btn-outline-danger font-weight-bold">6:00-18:00</a>
              <a href="{% url 'evidence:working_time_recorder_add' employee_id 6 %}" class="btn btn-sm btn-outline-dark font-weight-bold">22:00-6:00</a>
            </div>
          </div>
          <div class="col-9">
            <form action="{% url 'evidence:working_time_recorder_add' employee_id %}" method="POST">{% csrf_token %}
              {% bootstrap_field form.worker %}
              <div class="row mt-4">
                <div class='col-6'>
                  <div class="form-group">
                    {% bootstrap_field form.start_work size='small' label_class='text-primary font-weight-bold' placeholder='Select start of job...' %}
                  </div>
                </div>
                <div class='col-6'>
                  <div class="form-group">
                    {% bootstrap_field form.end_work size='small' label_class='text-primary font-weight-bold' placeholder='Select end of job...' %}
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <div class="btn-sm mb-2">
                    <button type="submit" class="btn btn-outline-success btn-block font-weight-bold">Confirm</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        {% if start_work > end_work %}
          <p class="uk-text-middle text-center">The start date is later than the end date! <span class="text-danger blink">Please correct it!</span></p>
        {% elif start_work >= end_work %}
          <p class="uk-text-middle text-center">The start date is the same like the end date! <span class="text-danger blink">Please correct it!</span></p>
        {% else %}
          {% if flag_work or flag_leave %}
            <p class="uk-text-middle text-center">Record for this day <span class="text-danger">{{ start_work|date:'l, d F Y' }}</span> is existing in database! <span class="text-danger blink">Please check it or correct!</span></p>
            <div class="row">
              <div class="col">
                <div class="btn-sm mb-2">
                  <a class="btn btn-outline-light btn-block font-weight-bold" href="/admin/">Admin Data Base</a>
                </div>
              </div>
            </div>
          {% else %}
            {% if jobhours %}
              <p class="text-center text-primary font-weight-bold">For <span class="text-danger">{{ worker }}</span> adding <span class="text-danger uk-text-middle blink">{{ jobhours|floatformat:2 }}</span> hour{{ total_hours|pluralize:'s' }}.<span class="text-danger"> Are you sure???</span></p>
              <p class="text-center uk-text-middle"><span>{{ start_work|date:'d M Y H:i' }} - {{ end_work|date:'d M Y H:i' }}</span></p>
              <div class="row mb-3">
                <div class="col-6 btn-sm">
                  <a href="{% url 'account:admin_site' %}" class="btn btn-sm btn-outline-dark btn-block">Back to the dashboard</a>
                </div>
                <div class="col-6 btn-sm">
                  {% if jobhours != 8 %}
                    <a href="{% url 'evidence:working_time_recorder_erase' employee_id start_work end_work %}" class="btn btn-sm btn-danger btn-block"><span class="font-weight-bold blink">Erase expanded jobhours ({{ jobhours|floatformat:2 }} hours)</span></a>
                  {% else %}
                    <a href="{% url 'evidence:working_time_recorder_erase' employee_id start_work end_work %}" class="btn btn-sm btn-danger btn-block"><span class="font-weight-bold blink">Erase standard jobhours ({{ jobhours|floatformat:2 }} hours)</span></a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endif %}
        <div class="row">
          <div class="col-12">
            <table class="table table-borderless table-hover table-sm">
              <thead class="bg-info">
              <tr><th>TOTAL PAYMENT FOR:</th><th class="text-white">{{ worker }}</th><th class="text-right" width="8%">RATE:</th><th class="text-white" width="18%">{{ rate|floatformat:2 }} PLN/h</th><th width="10%">HOURS:</th><th class="text-white" width="10%">{{ total_hours|floatformat:2 }}</th></tr>
              </thead>
            </table>
            <table class="table table-hover table-borderless table-sm">
              <tbody>
              <tr><td class="text-right">Total hours:</td><td class="text-danger font-weight-bold">{{ total_hours|floatformat:2 }} hour{{ total_hours|pluralize:'s' }}</td><td class="text-right">Brutto income:</td><td class="text-danger font-weight-bold">{{ brutto|money_format }}</td></tr>
              <tr><td class="text-right">Basic payment (100%):</td><td class="text-danger font-weight-bold">{{ basicpay|money_format }}</td><td class="text-right">Leave payment (100%):</td><td class="text-danger font-weight-bold">{{ leavepay|money_format }}</td></tr>
              <tr><td class="text-right">Saturday payment (100%):</td><td class="text-danger font-weight-bold">{{ satpay|money_format }}</td><td class="text-right">Sunday payment (200%):</td><td class="text-danger font-weight-bold">{{ sunpay|money_format }}</td></tr>
              {% if overhours %}
                <tr><td class="text-right">Overhours (50%):</td><td class="text-danger font-weight-bold">{{ overhourspay|money_format }}</td><td class="text-right">Account payment:</td><td class="text-danger font-weight-bold">{{ accountpay|money_format }}</td></tr>
              {% else %}
                <tr><td class="text-right">Account payment:</td><td class="text-danger font-weight-bold">{{ accountpay|money_format }}</td></tr>
              {% endif %}
              <tr class="text-white font-weight-bold bg-info"><td>&nbsp;</td><td class="text-right">NETTO INCOME:</td><td>{{ salary|money_format }}</td><td>&nbsp;</td></tr>
              </tbody>
            </table>
          </div>
        </div>
        {% if request.method == "GET" %}
          <div class="row text-center">
            <div class="col-2"></div>
            <div class="col-8 btn-sm mb-2">
              <a href="{% url 'account:admin_site' %}" class="btn btn-outline-dark btn-block">Back to the dashboard</a>
            </div>
            <div class="col-2"></div>
          </div>
        {% endif %}
      {% else %}
        {% if request.method == 'POST' %}
          <p class="text-center text-danger lead font-weight-normal bg-warning"><a class="text-danger" href="{% url 'evidence:working_time_recorder_add' employee_id %}">INCORRECT WORKING DATE</a></p>
          <div class="row text-center">
            <div class="col-1"></div>
            <div class="col-9 btn-sm mt-2">
              <p class="uk-text-middle">Please input correct <span class="text-danger">start-work</span> or <span class="text-danger">end-work</span> date. Both should be less or equal from today date.</p>
              <span class="uk-text-small">Today's date: {% now "l, jS F Y H:i" %}</span>
              <a href="{% url 'evidence:working_time_recorder_add' employee_id %}" class="btn btn-outline-info btn-block mt-5 blink">Back to the Working Time Recorder</a>
            </div>
            <div class="col-1"></div>
          </div>
        {% else %}
          <p class="text-center text-danger lead font-weight-normal bg-warning"><a class="text-danger" href="{% url 'employee:employee_basicdata' employee_id %}">EMPLOYEE IS DEACTIVATED</a></p>
          <div class="row text-center">
            <div class="col-1"></div>
            <div class="col-9 btn-sm mb-2">
              <p class="uk-text-middle">You can't add any working day for <span class="text-danger">{{ worker }}</span> because the employee is no longer employed or deactivated.</p>
              <a href="{% url 'employee:employee_basicdata' employee_id %}" class="btn btn-outline-info btn-block blink">Activate Employee</a>
            </div>
            <div class="col-1"></div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>


  <!-- blinkin after hideTime: seconds-->
  <script>
    $('.blink').each(function() {
      var elem = $(this);
      // count the blinks
      var count = 1;
      var intervalId = setInterval(function() {
         if (elem.css('visibility') == 'hidden') {
            elem.css('visibility', 'visible');
            // increment counter when showing to count # of blinks and stop when visible
            if (count++ === 3) {
              clearInterval(intervalId);
              }
          } else {
              elem.css('visibility', 'hidden');
          }
       }, 200);
    });
  </script>

{% endblock %}
