  {% load static %}

    <div class="row ml-3 mr-3 mt-2 uk-bg-bisque">
      <div class="col-3 mt-2">
        <a href="{% url 'account:dashboard' %}">
          <img class="d-block uk-header-logo mx-auto" src="{% static 'images/mainboard/logoUNI.png' %}" alt="Logo Unikolor">
          <span class="d-block uk-text-logo">&copy;Copyright<br>UNIKOLOR Jerzy Wygonowski</span>
        </a>
      </div>
      <div class="col-9 text-center">
        <div class="uk-header-title">
          <p class="uk-text-large">Cash Register</p>
        </div>
      <div class="uk-header-alert">
        {% include "blocks/alert.html" %}
      </div>
        <p class="uk-text-middle">Application to handle company cash register</p>
      </div>
    </div>
