  {% load static %}

  <div class="row ml-3 mr-3 mt-2 uk-bg-bisque">
    <div class="col-sm-2 mt-2 text-center">
      <a href="{% url 'account:admin_site' %}"><img src="{% static 'images/mainboard/logoUNI.png' %}" alt="UniLogo" width="50%"></a>
      <p class="uk-text-small text-secondary">Copyright UNIKOLOR Jerzy Wygonowski</p>
    </div>
    <div class="col-sm-8 mb-3 mt-2 text-center text-dark">
      <p class="h1 font-weight-normal">Company Accountancy</p>
      <p class="text-info font-weight-bold font-italic">Application to handle company accountancy</p>
      {% if document_id %}
        <p class="lead font-weight-bold text-danger">Document number: {{ document }}</p>
      {% endif %}
    </div>
    <div class="col-sm-2 mt-2 text-right">
      {% include 'blocks/alert.html' %}
    </div>
  </div>