
  {% if messages %}

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-sm btn-outline-danger blink" id= "alertButton" data-bs-toggle="modal" data-bs-target="#alertModal">
    Alert!!!
  </button><script>hideAfterSomeTime()</script>

  <!-- Modal -->
  <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header uk-bg-light text-white">
          <h5 class="modal-title" id="alertModalLabel">Attention!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body uk-bg-bisque">
          {% if messages %}
            {% for message in messages %}
              <p class="text-center uk-text-alert">{{ message }}</p>
            {% endfor %}
          {% endif %}
        </div>
        <div class="modal-footer uk-bg-bisque">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endif %}


<!-- blinkin message button after hideTime: seconds-->
<script>
    $('.blink').each(function() {
      var elem = $(this);
      // count the blinks
      var count = 1;
      var intervalId = setInterval(function() {
        if (elem.css('visibility') == 'hidden') {
            elem.css('visibility', 'visible');
            // increment counter when showing to count # of blinks and stop when visible
            if (count++ === 4) {
                clearInterval(intervalId);
            }
        } else {
            elem.css('visibility', 'hidden');
        }
      }, 200);
    });
</script>