
  {% if messages %}
    <button id="alertButton" type="button" class="btn btn-sm btn-outline-danger blink" data-toggle="modal" data-target=".bd-example-modal-sm">Alert!!!</button><script>hideAfterSomeTime()</script>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header bg-info">
            <h5 class="modal-title" id="alertModal">Alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="fas fa-times-circle" aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            {% for message in messages %}
              <p class="text-center text-danger"><small>{{ message }}</small></p>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-info" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

<!-- blinkin message button after hideTime: seconds-->
<script>
    $('.blink').each(function() {
      var elem = $(this);
      // count the blinks
      var count = 1;
      var intervalId = setInterval(function() {
        if (elem.css('visibility') == 'hidden') {
            elem.css('visibility', 'visible');
            // increment counter when showing to count # of blinks and stop when visible
            if (count++ === 4) {
                clearInterval(intervalId);
            }
        } else {
            elem.css('visibility', 'hidden');
        }
      }, 200);
    });
</script>
