
  <!-- Button trigger modal -->
  {% if cr_set %}
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#pscrModal">Print selected cashregister</button>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="pscrModal" tabindex="-1" role="dialog" aria-labelledby="pscrModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header uk-bg-light text-white">
          <h6 class="modal-title" id="pscrModal">Check cashregister to print...</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Body -->
        <div class="modal-body uk-bg-bisque">
          <form action="{% url 'cashregister:print_register' company_id %}" method="POST">{% csrf_token %}

            <!-- search strip -->
            <div class="input-group">
              <span class="input-group-text fas fa-search"></span>
              <input class="form-control" id="crSEARCH" type="text" placeholder="Search item... Use backspace to view all items..." aria-label="Filtering table">
              <span class="input-group-text fas fa-eraser" id="crclear"></span>
            </div>

            <!-- body of form -->
            <div class="row">
              <div class="d-grid gap-2 col-8 mx-auto">
                <div class="uk-table-scroll-sm">
                  <table class="table table-borderless table-sm">
                    <tbody id="scrTable">
                      {% for nr in cr_set %}
                        <tr>
                          <td>
                            <div class="d-grid gap-2 col-5 mx-auto fw-bold">
                              <div class="form-check">
                                <input type="radio" id="{{ nr|date:'m/Y' }}" name="cr_number" class="form-check-input" value="{{ nr|date:'m/Y' }}" required>
                                <label class="form-check-label text-info" for="{{ nr|date:'m/Y' }}">{{ nr|date:'m/Y' }}</label>
                              </div>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer uk-bg-bisque">
              <div class="btn-group" role="group" aria-label="pscrModalLabel">
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close window</button>
                <button id="closemodal" type="submit" class="btn btn-outline-success">Print cashregister</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

<!-- hide modal-->
  <script>

    $('#closemodal').click(function() {
        $('#pscrModal').modal('hide');
    });

  </script>

<!-- clear search strip -->
  <script>
    $('#crclear').click(function() {
        $('#crSEARCH').val('');
        document.getElementById("crSEARCH").focus();
    });
  </script>

<!-- search table-->
  <script>
    $(document).ready(function(){
        $("#crSEARCH").on("keyup", function() {var value =
            $(this).val().toLowerCase();
        $("#scrTable").find("tr").filter(function() {
            $(this).toggle(
                $(this).text().toLowerCase().indexOf(value) > -1)})
        ;})
    ;});
  </script>
