
    <!-- Small modal -->
    <button id="commitButton" type="button" class="btn btn-outline-danger" data-toggle="modal" data-target=".bd-example-modal-sm">Delete ???</button>
        <!-- Modal -->
        <div class="modal fade bd-example-modal-sm" id="commitModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h5 class="modal-title" id="alertModal">COMMIT...</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger font-weight-bold font-italic">You try do erase all bellow records for {{ employee }}...</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                        <a href="{% url 'employee:employee_erase_all_records' employee_id %}" class="btn btn-outline-danger">Yes I do delete...</a>
                    </div>
                </div>
            </div>
        </div>
