{% load static %}

<!-- Show employee's records -->
    <button id="recButton" type="button" class="btn btn-image" data-bs-toggle="modal" data-bs-target="#recModal">
      <img class="d-block uk-header-logo mx-auto" src="{% static 'images/mainboard/logoUNI.png' %}" alt="Logo Unikolor">
      <span class="d-block uk-text-logo">&copy;Copyright<br>UNIKOLOR Jerzy Wygonowski</span>
    </button>
<!-- Modal -->
    <div class="modal fade" id="recModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header uk-bg-light text-white">
            <p class="modal-title lead" id="recModal">All records in database for<br><span class="fw-bold">{{ worker }}</span></p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body uk-bg-bisque">
            <table class="table table-sm table-borderless">
              <colgroup>
                <col span="1" style="width: 50%">
                <col span="1" style="width: 50%">
              </colgroup>
              <tbody>
                <tr><th class="text-end">Model</th><th>Amount of records</th></tr>
                {% for key, value in records.items %}
                  <tr>
                    <td class="text-end">{{ key|capfirst }} :</td><td>{{ value }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="modal-footer uk-bg-bisque">
            <button type="button" class="btn btn-sm btn-outline-light" data-bs-dismiss="modal">Close window</button>
          </div>
        </div>
      </div>
    </div>
