{% load static %}

<div class="container mt-3">
  <div class="row">
    <div class="col-2 uk-bg-bisque">
      <a href="{% url 'account:dashboard' %}">
        <img class="uk-evilogo" src="{% static 'images/mainboard/logoUNI.png' %}" alt="logo unikolor">
        <span class="uk-text-logo">&copy;Copyright<br>UNIKOLOR Jerzy Wygonowski</span>
      </a>
    </div>
    <div class="col-10 text-center">
      <div class="uk-header-title">
        <p class="uk-text-large">Working Time Recorder</p>
      </div>
      <div class="uk-header-alert">
        {% include "blocks/alert.html" %}
      </div>
      <p class="uk-text-middle">Application to handle working time in small business</p>
      <div class="container">
        {% include 'blocks/small_upper_buttons.html' %}
      </div>
    </div>
  </div>
</div>





