{% load static %}


<div class="row mt-2">
  <div class="col-2 mt-1 text-center">
    <a href="{% url 'account:admin_site' %}"><img src="{% static 'images/mainboard/logoUNI.png' %}" alt="UniLogo" width="92%"></a>
    <p class="uk-text-small text-center">Copyright:<br>UNIKOLOR Jerzy Wygonowski</p>
  </div>
  <div class="col-sm-8 mb-3 mt-2 text-center text-dark">
    <p class="h1 font-weight-normal">Working Time Recorder</p>
    <p class="text-info font-weight-bold font-italic">Application to handle employee working time in small business</p>
    {% if not new_employee %}
      {% include 'blocks/small_upper_buttons.html' %}
    {% endif %}
  </div>
  <div class="col-sm-2 mt-2 text-right">
    {% include 'blocks/alert.html' %}
  </div>
</div>

