  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#myModal">Auxillium</button>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header bg-danger text-white">
          <h4 class="modal-title">Latina Auxillium</h4>
          <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <ul class="text-justify">
            <li>Dyftongi lub dwuznaki „ae” i „oe” czytamy jak „e”, np. „coelum” (niebo) przeczytamy jako „celum”, Caesar przeczytamy jako „Cesar”.</li>
            <li>„Qu” czytamy jak „kw”, np. „quorum” przeczytamy jako „kworum”.</li>
            <li>„C” przed samogłoskami „e”, „i” czytamy jako „c” – i znów mamy słowo „Caesar” oraz „cito” (szybko).</li>
            <li>„C” przed samogłoskami „a”, „o”, „u” czytamy jako „k” – „causa” (kausa – sprawa), cornus (kornus – róg), curvus (kurwus – krzywy).</li>
            <li>„V” czytamy jak nasze „w”.</li>
            <li>„Ngu” czytamy jak „ngw” lub „ngu”, np. wyraz „lingua” (język) przeczytamy jako „lingwa” lub po prostu „lingua”.</li>
            <li>„S” wymawiamy jak „s”, nie jak „z”! Wspomniana już „causa” to „kausa”, nie „kauza”! Niektórzy „su” wymawiają jak „sw” – lepiej jednak „persuadere” (przekonywać) czytać tak, jak się pisze, nie „perswadere”.</li>
            <li>„G” czytamy jak nasze „g”.</li>
          </ul>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
