  <!-- Button trigger modal -->
  {% if leave_set %}
    <button id="leaveButton" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#leaveModal">Print selected leave data</button>
  {% else %}
    <button id="leaveButton" type="button" class="btn btn-outline-primary disabled" data-bs-toggle="modal" data-bs-target="#leaveModal">Print selected leave data</button>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="myLeaveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Header -->
        <div class="modal-header uk-bg-light text-white">
          <h6 class="modal-title" id="leaveModal">Check year to print leave for {{ worker }}</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- Body -->
        <div class="modal-body uk-bg-bisque">
          <form action="{% url 'evidence:leaves_data_print' employee_id %}" method="POST">{% csrf_token %}
            <!-- Search field -->
            {% include 'blocks/search_strip.html' %}
            <div class="row">
              <div class="d-grid gap-2 col-8 mx-auto">
                <div class="uk-table-scroll-sm">
                  <table class="table table-borderless table-sm">
                    <tbody id="STable">
                    {% for leave_year, leave_value in leave_set.items %}
                      <tr>
                        <td>
                          <div class="form-check ml-5 text-start">
                            <input type="radio" id="{{ leave_year }}" name="leave_year" class="form-check-input" value="{{ leave_year }}" required>
                            <label {% if leave_value == 0 %}class="form-check-label text-secondary"{% else %}class="form-check-label text-info"{% endif %} for="{{ leave_year }}">{{ leave_year }} year (total leave: {{ leave_value }} day{{ leave_value|pluralize:'s' }})</label>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer uk-bg-bisque">
              <div class="btn-group" role="group" aria-label="myLeaveModalLabel">
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close window</button>
                <button id="closemodal" type="submit" class="btn btn-outline-success">Print leave data</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- hide modal-->
  <script>

    $('#closemodal').click(function() {
     $('#leaveModal').modal('hide');
  });

  </script>
