<!-- Modal for data to will be erase if you want -->
  {% if amountpay.brutto > 0 %}
    <button id="spButton" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#spModal">Send current payroll</button>
  {% else %}
    <button id="spButton" type="button" class="btn btn-outline-info disabled" data-toggle="modal" data-target="#spModal">Send current payroll</button>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="spModal" tabindex="-1" role="dialog" aria-labelledby="spModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h6 class="modal-title" id="spModal">Select a kind of payroll for {{ month }}/{{ year }} to send...</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="fas fa-times" aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'evidence:monthly_payroll_send' month year %}" method="GET">{% csrf_token %}

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="spRadio" id="splineRadio1" value="simple">
              <label class="form-check-label" for="splineRadio1">Simplified payroll</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="spRadio" id="splineRadio2" value="detailed">
              <label class="form-check-label" for="splineRadio2">Detailed payroll</label>
            </div>

            <div class="modal-footer">
              <div class="btn-group" role="group" aria-label="Kind of payroll">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close window</button>
                <button id="closemodal" type="submit" class="btn btn-outline-success">Send selected payroll</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- hide modal-->
  <script>

    $('#closemodal').click(function() {
     $('#spModal').modal('hide');
  });

  </script>
