{% load utility_tags %}

  <!-- Button trigger modal -->
  <p class="text-center mt-3"><a class="uk-text-middle" href="payrolldata_modal.html" data-bs-toggle="modal" data-bs-target="#pdModal">Monthly payroll for {{ month }}/{{ year }}</a></p>

  <!-- Modal -->
  <div class="modal fade" id="pdModal" tabindex="-1" role="dialog" aria-labelledby="pdModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header uk-bg-light text-white">
          <h6 class="modal-title" id="pdModal">Payroll data statement for {{ month }}/{{ year }}</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body uk-bg-bisque">
          <div class="row text-end">
              <div class="col-6">
                <table class="table table-sm">
                  <tbody>
                    {% for head in heads %}
                      {% if head != 'Employee' %}
                        <tr class="fw-bold">{{ head }}:&nbsp;</tr><br>
                      {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="col-4">
                <table class="table table-sm">
                  <tbody>
                    {% for value in amountpay.values %}
                      <tr class="text-white fw-bold">{{ value|money_format }}</tr><br>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
        </div>
        <div class="modal-footer uk-bg-bisque">
          <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

