  <!-- Button trigger modal -->
  {% if amountpay.brutto > 0 %}
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#ppModal">Print current payroll</button>
  {% else %}
    <button type="button" class="btn btn-outline-info disabled" data-bs-toggle="modal" data-bs-target="#ppModal">Print current payroll</button>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="ppModal" tabindex="-1" role="dialog" aria-labelledby="ppModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header uk-bg-light text-white">
          <h6 class="modal-title" id="ppModal">Select a kind of payroll for {{ month }}/{{ year }} to print...</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Body -->
        <div class="modal-body uk-bg-bisque">
          <form action="{% url 'evidence:monthly_payroll_print' month year %}" method="GET">{% csrf_token %}

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ppRadio" id="pplineRadio1" value="simple">
              <label class="form-check-label" for="pplineRadio1">Simplified payroll</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="ppRadio" id="pplineRadio2" value="detailed">
              <label class="form-check-label" for="pplineRadio2">Detailed payroll</label>
            </div>
            <!-- Footer -->
            <div class="modal-footer uk-bg-bisque">
              <div class="btn-group" role="group" aria-label="Kind of payroll">
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close window</button>
                <button id="closemodal" type="submit" class="btn btn-outline-success">Print selected payroll</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


<!-- hide modal-->
  <script>

    $('#closemodal').click(function() {
     $('#ppModal').modal('hide');
  });

  </script>
