{% load static %}
{% load utility_tags %}

  <!-- Button trigger modal -->
  {% if total_brutto_set %}
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#plotModal">Print selected cashregister</button>
  {% else %}
    <button type="button" class="btn btn-outline-primary disabled" data-bs-toggle="modal" data-bs-target="#plotModal">Print selected cashregister</button>
  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="plotModal" tabindex="-1" role="dialog" aria-labelledby="plotModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header uk-bg-light text-white">
          <h6 class="modal-title" id="plotModal">Check cashregister to print...</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Body -->
        <div class="modal-body uk-bg-bisque">
          <form action="{% url 'evidence:plot_chart' employee_id month year %}" method="POST">{% csrf_token %}

            <!-- search strip -->
            <div class="input-group">
              <span class="input-group-text fas fa-search"></span>
              <input class="form-control" id="pltSEARCH" type="text" placeholder="Search item... Use backspace to view all items..." aria-label="Filtering table">
              <span class="input-group-text fas fa-eraser" id="pltclear"></span>
            </div>

            <!-- body of form -->
            <div class="row">
              <div class="col offset-1">
                <div class="uk-table-scroll-sm">
                  <table class="table table-borderless table-sm">
                    <tbody id="pltTable">
                      {% for year, value in total_brutto_set.items %}
                        <tr>
                          <td>
                            <input type="radio" id="{{ year }}" name="plot_year" class="form-check-input" value="{{ year }}" required>
                            <label class="form-check-label text-info" for="{{ year }}">{{ year }} year (total brutto income: {{ value|money_format }})</label>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer uk-bg-bisque">
              <div class="btn-group" role="group" aria-label="plotModalLabel">
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close window</button>
                <button id="closemodal" type="submit" class="btn btn-outline-success">Print cashregister</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

<!-- hide modal-->
  <script>

    $('#closemodal').click(function() {
        $('#plotModal').modal('hide');
    });

  </script>

<!-- clear search strip -->
  <script>
    $('#pltclear').click(function() {
        $('#pltSEARCH').val('');
        document.getElementById("pltSEARCH").focus();
    });
  </script>

<!-- search table-->
  <script>
    $(document).ready(function(){
        $("#pltSEARCH").on("keyup", function() {var value =
            $(this).val().toLowerCase();
        $("#pltTable").find("tr").filter(function() {
            $(this).toggle(
                $(this).text().toLowerCase().indexOf(value) > -1)})
        ;})
    ;});
  </script>
