  <!-- Small buttons -->

{% if worker.status %}
  <div class="btn-group btn-group-sm" role="group">

    <a href="{% url 'evidence:working_time_recorder_add' employee_id %}" {% if wtr_flag %}class="btn btn-outline-primary active" role="button" aria-pressed="true"{% else %}class="btn btn-outline-primary"{% endif %}>Working Time Recorder</a>

    <a href="{% url 'evidence:leave_time_recorder_add' employee_id %}" {% if ltr_flag %}class="btn btn-outline-danger active" role="button" aria-pressed="true"{% else %}class="btn btn-outline-danger"{% endif %}>Leave Time Recorder</a>

    <a href="{% url 'evidence:account_payment' employee_id %}" {% if ap_flag %}class="btn btn-outline-dark active" role="button" aria-pressed="true"{% else %}class="btn btn-outline-dark"{% endif %}>Payment on Account</a>

    <a href="{% url 'evidence:monthly_payroll_view' %}" class="btn btn-outline-success">Monthly Payroll</a>

    <a href="{% url 'cashregister:cash_register' %}" class="btn btn-outline-info">Cash register</a>

  </div>
{% else %}
  <div class="btn-group btn-group-sm" role="group">
    <a href="{% url 'evidence:working_time_recorder_add' employee_id %}" class="btn btn-outline-primary disabled">Working Time Recorder</a>
    <a href="{% url 'evidence:leave_time_recorder_add' employee_id %}" class="btn btn-outline-danger disabled">Leave Time Recorder</a>
    <a href="{% url 'evidence:account_payment' employee_id %}" class="btn btn-outline-dark disabled">Payment on Account</a>
    <a href="{% url 'evidence:monthly_payroll_view' %}" class="btn btn-outline-success">Monthly Payroll</a>
    <a href="{% url 'cashregister:cash_register' %}" class="btn btn-outline-info">Cash register</a>
  </div>
{% endif %}