  <!-- Small buttons -->
  <div class="btn-group btn-group-sm" role="group">
    <a href="{% url 'evidence:working_time_recorder_add' employee_id %}" class="btn btn-outline-primary">Working Time Recorder</a>
    <a href="{% url 'evidence:leave_time_recorder_add' employee_id %}" class="btn btn-outline-danger">Leave Time Recorder</a>
    <a href="{% url 'evidence:account_payment' employee_id %}" class="btn btn-outline-dark">Payment on Account</a>
    <a href="{% url 'evidence:monthly_payroll_view' %}" class="btn btn-outline-success">Monthly Payroll</a>
  </div>
