{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Add/Change extended data of employee{% endblock %}

{% block content %}

  <div class="container uk-bg-bisque">
  {% include 'blocks/header.html' %}
    <div class="row">
      <div class="col-5">
        <div class="uk-headline">
          ACTIVE EMPLOYEES
        </div>
        <div class="uk-table-scroll-lg">
          <table class="uk-table">
            <tbody>
            {% for employee in employees %}
              <tr>
              {% if employee_id == employee.id %}
                <td class="text-right" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="font-weight-bold text-danger" href="{{ employee.employee_change_extend_data_id }}">{{ employee }}</a></td>
              {% else %}
                <td class="text-right" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="font-weight-bold" href="{{ employee.employee_change_extend_data_id }}">{{ employee }}</a></td>
              {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-7">
        <div class="uk-headline">
          CHANGE EXTENDED DATA FOR<span class="uk-text-value"> {{ worker|upper }}</span>
        </div>

        <form class="mt-3" action="{% url 'employee:employee_extendeddata' employee_id %}" method="POST">{% csrf_token %}
          <div class="row">
            <div class="col-6">
              {% bootstrap_field form.worker size='small' label_class='text-info font-italic font-weight-bold' %}
              {% bootstrap_field form.birthday size='small' label_class='text-info font-italic font-weight-bold' %}
              {% bootstrap_field form.phone size='small' label_class='text-info font-italic font-weight-bold' %}
              {% bootstrap_field form.workplace size='small' label_class='text-info font-italic font-weight-bold' %}
              {% bootstrap_field form.start_contract size='small' label_class='text-info font-italic font-weight-bold' %}
              {% bootstrap_field form.end_contract size='small' label_class='text-info font-italic font-weight-bold' %}
            </div>
            <div class="col-6">
              {% bootstrap_field form.postal size='small' label_class='text-info font-italic font-weight-bold' %}
              {% bootstrap_field form.city size='small' label_class='text-info font-italic font-weight-bold' %}
              {% bootstrap_field form.street size='small' label_class='text-info font-italic font-weight-bold' %}
              {% bootstrap_field form.house size='small' label_class='text-info font-italic font-weight-bold' %}
              {% bootstrap_field form.flat size='small' label_class='text-info font-italic font-weight-bold' %}
            </div>
          </div>

          <div class="row text-center">
            <div class="col">
              <span class="uk-text-small font-italic font-weight-bold">Select the contract type:</span>
              {% bootstrap_field form.overtime form_group_class='form-group' show_label=False %}
            </div>
          </div>

          <div class="row text-center mt-2">
            <div class="col">
              <div class="btn btn-sm btn-group btn-block" role="group">
                <a href="{% url 'account:dashboard' %}" class="btn btn-outline-dark">Back to the Dashboard</a>
                <a href="{% url 'employee:employee_basicdata' employee_id %}" class="btn btn-outline-primary">Back to the Employee Change Basic Data</a>
                <button type="submit" class="btn btn-outline-success">Confirm changes</button>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
