{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Add basic data of employee{% endblock %}

{% block content %}

  <div class="container bgbisque">
  {% include 'blocks/header.html' %}
    <div class="row m-3">
      <div class="col-md-4">
        <p class="text-center text-danger lead font-weight-normal bg-warning">ACTIVE EMPLOYEES</p>
        <table class="table table-hover table-sm">
          <tbody>
          {% for employee in employees_st %}
            <tr>
              {% if request.path == '/employee/add_change/basicdata/' %}
                <td width="5%" class="text-right">{{ forloop.counter }}.</td><td><a class="font-weight-bold" href="{{ employee.get_absolute_url }}">{{ employee }}</a></td>
              {% else %}
                {% if employee_id == employee.id %}
                  <td width="5%" class="text-right" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="font-weight-bold text-danger" href="{{ employee.get_absolute_url }}">{{ employee }}</a></td>
                {% else %}
                  <td width="5%" class="text-right" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="font-weight-bold" href="{{ employee.get_absolute_url }}">{{ employee }}</a></td>
                {% endif %}
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-md-4">
        <p class="text-center text-danger lead font-weight-normal bg-warning">DEACTIVE EMPLOYEES</p>
        <table class="table table-hover table-sm">
          <tbody>
          {% for employee in employees_sf %}
            <tr>
            {% if employee_id == employee.id %}
              <td width="5%" class="text-right" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="font-weight-bold text-danger" href="{{ employee.get_absolute_url }}">{{ employee }}</a></td>
            {% else %}
              <td width="5%" class="text-right" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="font-weight-bold" href="{{ employee.get_absolute_url }}">{{ employee }}</a></td>
            {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="btn btn-group float-sm-right mr-2" role="group">
          <a href="{% url 'account:exit' %}" class="btn btn-outline-danger">Exit</a>
          <a href="{% url 'account:admin_site' %}" class="btn btn-outline-dark">Dashboard</a>
          {% if not no_id %}
            <a href="{% url 'employee:employee_basicdata' %}" class="btn btn-outline-primary">Add basic data</a>
          {% endif %}
        </div>
      </div>

      <div class="col-md-4">
        <p class="text-center text-danger lead font-weight-normal bg-warning">{% if new_employee %}ADD EMPLOYEE BASIC DATA{% else %}CHANGE EMPLOYEE BASIC DATA{% endif %}</p>

        <form action="." method="POST">{% csrf_token %}
          <div class="row">
            <div class="col-md-12">
              <div class="input-group mb-3 ml-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-info">Forename</span>
                </div>
                {% bootstrap_field form.forename form_group_class='form-inline' show_label=False placeholder='Type forename...' %}
              </div>
              <div class="input-group mb-3 ml-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-info">Surname&nbsp;&nbsp;</span>
                </div>
                {% bootstrap_field form.surname form_group_class='form-inline' show_label=False placeholder='Type surname...' %}
              </div>
              <div class="input-group mb-3 ml-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-info">Pesel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                {% bootstrap_field form.pesel form_group_class='form-inline' show_label=False placeholder='Type pesel...' %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <p class="ml-3 mt-3">Leads:</p>
            </div>
            <div class="col-md-4">
              <div class="form-check-inline">
                {% bootstrap_field form.leave size='small' show_label=False %}
              </div>
            </div>
            <div class="col-md-5">
              {% if not new_employee and active %}
                <div class="form-check-inline mt-3">
                  {% bootstrap_field form.status size='small' %}
                </div>
              {% elif not active %}
                <p class="text-danger text-center small mt-1">Please complete the extended data to activate the employee</p>
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              {% if new_employee %}
                <button type="submit" class="btn btn-outline-success btn-block m-2">Confirm</button>
              {% else %}
                {% if status %}
                  <div class="btn-group btn-group-sm mt-1" role="group">
                    <a href="{% url 'employee:employee_extendeddata' employee_id %}" class="btn btn-outline-danger">Change extend data</a>
                    <a href="{% url 'employee:employee_hourly_rate' employee_id %}" class="btn btn-outline-primary">Update rate</a>
                    <button type="submit" class="btn btn-outline-success">Confirm</button>
                  </div>
                  <div class="text-center">
                    {% include 'blocks/erase_modal.html' %}
                  </div>
                {% else %}
                  <div class="btn-group btn-group-sm mt-1" role="group">
                    <a href="{% url 'employee:employee_extendeddata' employee_id %}" class="btn btn-outline-danger">Change extend data</a>
                    <button type="submit" class="btn btn-outline-success">Confirm changes</button>
                  </div>
                  <div class="text-center">
                    {% include 'blocks/erase_modal.html' %}
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
