{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Add/Change extended data of employee{% endblock %}

{% block head %}
    {% include 'blocks/header.html' %}
{% endblock %}

{% block content %}

    <div class="col-sm-5">
        <p class="text-center text-danger lead font-weight-normal bg-warning">ACTIVE EMPLOYEES</p>
        <table class="table table-hover table-sm">
            <tbody>
            {% for employee in employees %}
                <tr>
                    {% if employee_id == employee.id %}
                        <td width="5%" class="text-right" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="font-weight-bold text-danger" href="{{ employee.employee_change_extend_data_id }}">{{ employee }}</a></td>
                    {% else %}
                        <td width="5%" class="text-right" id="{{ employee_id }}">{{ forloop.counter }}.</td><td><a class="font-weight-bold" href="{{ employee.employee_change_extend_data_id }}">{{ employee }}</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-sm-7">
        <p class="text-center text-danger lead font-weight-normal bg-warning">{{ employee|upper }} - CHANGE EXTENDED DATA</p>
        <form action="{% url 'employee:employee_extendeddata' employee_id %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <div class="form-control" style="background-color: bisque">
                        {% bootstrap_field form.name size='small' %}
                        {% bootstrap_field form.birthday size='small' %}
                        {% bootstrap_field form.phone size='small' %}
                        {% bootstrap_field form.workplace size='small' %}
                        {% bootstrap_field form.start_contract size='small' %}
                        {% bootstrap_field form.end_contract size='small' %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-control" style="background-color: bisque">
                        {% bootstrap_field form.postal size='small' %}
                        {% bootstrap_field form.city size='small' %}
                        {% bootstrap_field form.street size='small' %}
                        {% bootstrap_field form.house size='small' %}
                        {% bootstrap_field form.flat size='small' %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% bootstrap_field form.overtime form_group_class='form-check-inline ml-5' size='large' show_label=Flase %}
            </div>
            <div class="btn btn-sm btn-group ml-2" role="group">
                <a href="{% url 'account:exit' %}" class="btn btn-outline-danger">Exit</a>
                <a href="{% url 'logout' %}" class="btn btn-outline-info">Logout</a>
                <a href="{% url 'account:admin_site' %}" class="btn btn-outline-dark">Dashboard</a>
                <a href="{% url 'employee:employee_basicdata' %}" class="btn btn-outline-primary">Back to add/change basic data</a>
                <button type="submit" class="btn btn-outline-success">Confirm</button>
            </div>

        </form>

    </div>

{% endblock %}
