{% extends 'base.html' %}
{% load static %}

{% block title %}HTML500{% endblock %}

{% block content %}

  <div class="jumbotron text-center">
    <p class="uk-text-large">Administration Dashboard</p>
    {% if user.is_authenticated %}
      <p class="text-center uk-text-middle">Welcome <em class="text-danger font-weight-bold">{{ user }}</em></p><br>
    {% endif %}
    {% if error %}
      <p class="text-center uk-text-middle">Check internet connection...</p><br>
      <p class="text-info text-danger font-italic lead">Causation: {{ error }}</p>
    {% endif %}
    {% if nodata %}
      <p class="text-center text-danger font-weight-bold font-italic lead">Cheerio <kbd>{{ user }}</kbd><br>There aren't any records in database! Load last saved backup or input data for first employee...</p><br>
      <p class="text-info text-danger font-italic lead font-weight-bold">Backup file: <kbd>{{ backup }}</kbd><br>Created: <kbd>{{ created|date:'r' }}</kbd></p>
      <div class="btn-group btn-group-lg">
        <a class="btn btn-outline-primary" href="{% url 'account:load-database' %}">Load last saved database backup</a>
        <a class="btn btn-outline-success" href="{% url 'employee:employee_basicdata' %}">Add first employee data</a>
        <a class="btn btn-outline-danger" href="{% url 'account:exit' %}">Exit</a>
      </div>
    {% else %}
      <div class="btn-group btn-group-lg">
        <a class="btn btn-outline-light" href="/admin/">Admin Data Base</a>
        <a class="btn btn-outline-info" href="{% url 'account:dashboard' %}">Back to the Dashboard</a>
        <a href="{% url 'logout' %}" class="btn btn-md btn-outline-dark">Logout</a>
        <a class="btn btn-outline-danger" href="https://www.google.com/">Exit</a>
      </div>
    {% endif %}
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-3"></div>
        <div class="col-6">
          <img src="{% static 'images/mainboard/logoUNI.png' %}" alt="logo"  width="50%">
          <p class="uk-text-logo text-center">&copy;Copyright UNIKOLOR Jerzy Wygonowski</p>
          {% include 'blocks/alert.html' %}
        </div>
      <div class="col-3"></div>
    </div>
  </div>

{% endblock %}
