{% extends 'base.html' %}
{% load bootstrap4 %}
{% load utility_tags %}
{% load staticfiles %}

{% block title %}Add/Change employee hourly rate{% endblock %}


{% block content %}
  <div class="container-fluid">
    <div class="row ml-3 mr-3 mt-2 bgbisque">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 mb-3 mt-2 text-center text-dark">
        <p class="h1 font-weight-normal">Company Cash Register</p>
        <p class="text-info font-weight-bold font-italic">Application to handle company cash register</p>
      </div>
      <div class="col-sm-2">
        <p class="footer text-secondary text-sm-right">Copyright UNIKOLOR Jerzy Wygonowski</p>
        {% include 'blocks/alert.html' %}
      </div>
    </div>
    <div class="row ml-3 mr-3 mb-2 bgbisque">
      <div class="col-sm-3">
        <p class="text-center text-danger lead font-weight-normal bg-warning">COMPANIES</p>
        <table class="table table-hover table-sm">
          <tbody>
          {% for company in companies %}
            <tr>
              {% if company_id == company.id %}
                <td><a class="text-danger" href="{{ company.add_records }}">{{ company }}</a></td>
              {% else %}
                <td><a href="{{ company.add_records }}">{{ company }}</a></td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div class="row mt-4">
          <div class="col">
            <div class="btn-sm mb-2">
              <a href="{% url 'cashregister:add_company' %}" class="btn btn-outline-primary btn-block">Add/change
                company</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        {% if company_id %}
          <p class="text-center text-danger lead font-weight-normal bg-warning">ADD RECORD TO CASH REGISTER
            FOR {{ company }}</p>

          <form action="." method="POST">{% csrf_token %}
            {% bootstrap_field form.company %}
            <div class="row ml-5">
              <div class="col-sm-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-info text-white font-weight-normal">Symbol&nbsp;&nbsp;&nbsp;</span>
                  </div>
                  {% bootstrap_field form.symbol form_group_class='form-inline' show_label=False placeholder='Symbol...' %}
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-success text-white font-weight-normal" id="income">Przychód</span>
                  </div>
                  {% bootstrap_field form.income form_group_class='form-inline' show_label=False placeholder='Value...' %}
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-danger text-white font-weight-normal" id="expenditure">Rozchód&nbsp;</span>
                  </div>
                  {% bootstrap_field form.expenditure form_group_class='form-inline' show_label=False placeholder='Value...' %}
                </div>
              </div>
              <div class="col-sm-7">
                {% bootstrap_field form.contents size='small' label_class='text-info font-weight-bold' placeholder='Type contents of operation...' %}
              </div>
            </div>
            <div class="row p-1">
              <div class="col-sm-12 btn-sm">
                <button type="submit" class="btn btn-outline-success btn-block">Confirm new entry
                  for {{ company|upper }}</button>
              </div>
            </div>
          </form>

          <div class="row">
            <table class="table table-sm table-hover">
              <thead class="text-center">
                <tr class="font-weight-bold small">
                  <th class="text-primary" width="25%">Z przeniesienia</th>
                  <th class="text-success" width="25%">Przychód</th>
                  <th class="text-danger" width="25%">Rozchód</th>
                  <th class="text-info" width="25%">Stan kasy</th>
                </tr>
              </thead>
              <tbody>
                <tr class="col-sm-3 text-center font-weight-bold font-italic">
                  <td>{{ saldo|money_format }}</td><td>{{ incomes|money_format }}</td>
                  <td>{{ expenditures|money_format }}</td><td>{{ status|money_format }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="input-group">
            <input class="form-control" id="myInput" type="text" placeholder="Search records..."
                   aria-label="Filtering table" aria-describedby="basic-addon">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon"><img src="{% static 'images/mainboard/search.ico' %}"
                                                                   width="24px"></span>
            </div>
          </div>
          <table class="table table-sm">
            <thead class="text-center">
            <tr class="font-weight-light small">
              <th width="3%">Nr</th>
              <th width="10%">Date</th>
              <th width="25%">Who is who</th>
              <th width="32%">Invoice, symbol, contents</th>
              <th class="text-right" width="15%">Income</th>
              <th class="text-right" width="15%">Expenditure</th>
            </tr>
            </thead>
          </table>
          <div class="scrollit">
            <table class="table table-sm table-hover">
              <tbody class="small" id="searchTable">
              {% for record in records %}
                <tr {% if forloop.first %}class="text-danger font-weight-bold font-italic"{% else %}class="text-secondary font-weight-bold font-italic"{% endif %}>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ record.created|date:'d F Y' }}</td>
                  <td>{{ record.symbol }}</td>
                  <td>{{ record.contents }}</td>
                  <td class="text-sm-right">
                    {% if record.income > 0 %}
                      <a href="{{ record.cash_accept }}">{{ record.income|money_format }}</a>
                    {% else %}-----{% endif %}
                  </td>
                  <td class="text-sm-right">
                    {% if record.expenditure > 0 %}
                      <a href="{{ record.cash_accept }}">{{ record.expenditure|money_format }}</a>
                    {% else %}-----{% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p class="text-center text-danger lead font-weight-normal bg-warning">ADD RECORD FOR {{ company }}</p>
          <div class="row">
            <div class="col text-center">
              <p class="text-danger lead font-weight-bold font-italic">Please select company to add records into Cash
                register...</p>
            </div>
          </div>
        {% endif %}
        <div class="row text-center">
          <div class="col-12">
            <div class="btn btn-group mt-2 mb-2">
              <a href="{% url 'account:exit' %}" class="btn btn-outline-danger">Exit</a>
              {% if company_id and previous %}
                <a href="{% url 'cashregister:print_register' company_id %}" class="btn btn-outline-success">Print last register</a>
                <a href="{% url 'cashregister:send_register' company_id %}" class="btn btn-outline-info">Send last register</a>
              {% elif company_id and not previous %}
                <a href="{% url 'cashregister:print_register' company_id %}" class="btn btn-outline-success disabled">Print last register</a>
                <a href="{% url 'cashregister:send_register' company_id %}" class="btn btn-outline-info disabled">Send last register</a>
              {% endif %}
              <a href="{% url 'account:admin_site' %}" class="btn btn-outline-dark">Dashboard</a>
              <a class="btn btn-outline-primary" href="/admin/">Admin Data Base</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
